:root {
  --primary-blue: #2F80ED;
  --blue02: #EFF5FE;
  --red01: #DE350B;
  --red02: #FFDBDB;
  --green: #2FED92;
  --black01: #172B4D;
  --black02: #6B778C;
}

//override bootstrap scss
$theme-colors: (
  "primary": #2F80ED,
  "danger": #ff4136,
  "purple": #EFD3FA,
  "black02": #6B778C,
  "yellow": #FFE28A,
  "green": #2FED92,
  "purple-btn": #403294,
  "yellow-btn": #FF8B00,
  "red-btn": #BF2600,
  "black01": #172B4D,
  "orange": #FF8B00,
  "rust": #FFA68A
  );


$font-size-base: .875rem !default;

$primary: #2F80ED;
$green: #2FED92;
$black02: #5B778C;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import "../dist/scss/bootstrap.scss";
@import "components.scss";
// @import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined";
@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";

body{
  font-family: 'Inter', sans-serif;
}

h2{
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

.sub{
  color: $black02;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #BDBDBD;
  height: 1px;
}


a {
  color: var(--primary-blue);

  &.nav-link {
    color: unset;

    &.active {
      color: var(--primary-blue);
    }
  }
}

.small-text {
  font-size: 11px;
  // line-height: 16px;
  color: var(--black02);
}

.caption-02 {
  font-size: 12px;
  line-height: 16px;
}

.w-35 {
  width: 35%;
}

.w-90 {
  width: 90%;
}

.m {
  &t {
    &-32 {
      margin-top: 32px;
    }

    &-24 {
      margin-top: 24px;
    }
  }

  &b {
    &-32 {
      margin-bottom: 32px;

    }

    &-24 {
      margin-bottom: 24px;
    }
  }
}

.empty__photo {
  height: 80px;
  width: 60px;
  background-color: #E0E0E0;
}

//card
.card {
  box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 3px;

  .ticker-number {}

  .avatar {
    span {
      vertical-align: bottom;
    }

    img {
      height: 24px;

    }
  }
}


//count
.count {
  color: var(--primary-blue);
  margin: 0 10px 0 0;
}


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: var(--black01);
}


.btn {
  font-size: 14px;
  border-radius: 4px;
  padding: 6px 16px;

  &-small {
    font-size: 11px;
    line-height: 16px;
    padding: 4px 12px;
    font-weight: 500;
  }
}

label {
  font-weight: 400;
  size: 12px;
  height: 16px;
  color: var(--black02);

  &[class*="form-check-label"] {
    font-size: 14px;
    color: var(--black01);
    line-height: 16px;
    font-weight: normal;
  }

  &.help-text {
    font-size: 11px;
  }
}


// login
.login {
  height: 100%;

  .login--box {
    width: 376px;
    height: 100%;
  }

  .login--logo {
    .logo--image {
      width: 70%;
      object-fit: scale-down;
    }

    .logo--text {
      font-size: 20px;
      line-height: 24px;
      color: var(--black01);
      font-weight: 600;
      margin: 40px auto 84px;
    }
  }
}


// Navbar
.header {
  border-bottom: 2px solid #E74460;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.22);
}

.navbar {

  .navbar-brand {
    img {
      height: 56px;
    }
  }

  .nav-item {
    padding: 0 12px;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    font-weight: 400;

    a {
      color: var(--black02);
    }

    &.active a {
      color: var(--primary-blue);
    }

    &.profile {
      img {
        height: 40px;
      }
    }
  }
}

.nav {
  &.side--nav {
    li {
      margin-bottom: .25rem;
    }

    a {
      padding: 8px;
      border-radius: 4px;
      color: $black02;
      font-size: 14px;

      &:hover {
        background-color: rgba(47, 128, 237, 0.2);
      }
    }

    a.nav-link.active {
      background-color: rgba(47, 128, 237, 0.2);
      color: $primary;
      img{
        // change SVG colors
        filter: invert(37%) sepia(89%) saturate(1254%) hue-rotate(198deg) brightness(97%) contrast(92%);
      }
    }
  }
}


//content
.content--wrapper {
  padding: 73px 0;

  .content {
    &>div {
      // flex: 1;
      width: 100%;

      @media (min-width: 575.98px) {
        margin-right: 5%;

      }

      &:nth-child(2) {
        margin-right: 0;
      }
    }

    .content--subheading {
      margin-bottom: 18px;
    }
  }
}

//card-stack
.card-stack {
  >div {
    margin-bottom: 12px;
  }
}


.compliment-type {
  display: grid;
  grid-row: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.advance--search--form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
}

.d-grid {
  display: grid;
  grid-row: auto auto;

  &.grid {
    &-2 {
      grid-template-columns: 1fr 1fr;

    }

    &-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}



.box--preview {
  border: 1px solid #2F80ED;
  border-radius: 4px;
  padding: 24px;

  color: #BDBDBD;
  background-color: var(--blue02);

  label {
    margin-bottom: 0;
  }

  .photo {
    background-color: var(--black02);
    height: 70px;
    width: 50px;
    margin-right: 20px;
  }

  &.box--preview__empty {
    text-align: center;
    background-color: transparent;
    padding: 40px;
  }

  &.box--preview__black {
    color: var(--black01);
  }
}

.upload-form {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: baseline;



  .uploading {
    padding-left: 0px;
    padding-right: 20px;
  }

  label {
    font-size: 11px;
  }
}

.upload-dokumen {
  .delete-btn {
    padding: 0;
    font-size: 22px;
    color: var(--black02);
  }
}

// .uploading{
//   display: grid;
//     grid-template-columns: max-content 1fr max-content;
// }



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .login--box {
    max-width: 300px;
  }

}




@media (min-width: 575.98) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


.person-img{
  img{
    width: 100px;
    height: 150px;
    object-fit: scale-down;
  }
}